[global]
fsid = {{ ceph_uuid }}
mon initial members = {% for host in groups['ceph'] %}{{host}}{% if not loop.last %}, {% endif %}{% endfor %} 
mon host ={% for host in groups['ceph'] %} {{hostvars[host]['ansible_default_ipv4']['address'] }}{% if not loop.last %},{% endif %}{% endfor %} 
public network = {{ceph_network_pub}}
cluster network = {{ceph_network_cluster}}
auth cluster required = {{ceph_auth_cluster}}
auth service required = {{ceph_auth_service}}
auth client required = {{ceph_auth_client}}
osd journal size = {{osd_journal_size}}
osd pool default size = {{osd_pool_size}}
osd pool default min size = {{osd_pool_min_size}}
osd pool default pg num = {{osd_pool_pg}}
osd pool default pgp num = {{osd_pool_pgp}}
osd crush chooseleaf type = {{osd_crush}}

