cluster_name: '{{cassandra_clustername}}'
num_tokens: 256
# allocate_tokens_for_keyspace: KEYSPACE
# allocate_tokens_for_local_replication_factor: 3
# initial_token:

hinted_handoff_enabled: true
max_hint_window_in_ms: 10800000 # 3 hours
hinted_handoff_throttle_in_kb: 1024
max_hints_delivery_threads: 2
hints_directory: /var/lib/cassandra/hints
hints_flush_period_in_ms: 10000
max_hints_file_size_in_mb: 128
#hints_compression:
#   - class_name: LZ4Compressor
#     parameters:
#         -

batchlog_replay_throttle_in_kb: 1024
authenticator: AllowAllAuthenticator
authorizer: AllowAllAuthorizer
role_manager: CassandraRoleManager
#network_authorizer: AllowAllNetworkAuthorizer
roles_validity_in_ms: 2000
# roles_update_interval_in_ms: 2000
permissions_validity_in_ms: 2000
# permissions_update_interval_in_ms: 2000
credentials_validity_in_ms: 2000
# credentials_update_interval_in_ms: 2000
partitioner: org.apache.cassandra.dht.Murmur3Partitioner
data_file_directories:
  - /var/lib/cassandra/data

commitlog_directory: /var/lib/cassandra/commitlog
cdc_enabled: false
cdc_raw_directory: /var/lib/cassandra/cdc_raw
disk_failure_policy: stop
commit_failure_policy: stop
prepared_statements_cache_size_mb:
key_cache_size_in_mb:
key_cache_save_period: 14400
# key_cache_keys_to_save: 100
# row_cache_class_name: org.apache.cassandra.cache.OHCProvider
row_cache_size_in_mb: 0
row_cache_save_period: 0
# row_cache_keys_to_save: 100
counter_cache_size_in_mb:
counter_cache_save_period: 7200
# counter_cache_keys_to_save: 100
saved_caches_directory: /var/lib/cassandra/saved_caches
# commitlog_sync_batch_window_in_ms: 2
# commitlog_sync_group_window_in_ms: 1000
commitlog_sync: periodic
commitlog_sync_period_in_ms: 10000
# periodic_commitlog_sync_lag_block_in_ms: 
commitlog_segment_size_in_mb: 32
# commitlog_compression:
#   - class_name: LZ4Compressor
#     parameters:
#         -

seed_provider:
    - class_name: org.apache.cassandra.locator.SimpleSeedProvider
      parameters:
          - seeds: "{{cassandra_seeds}}"

concurrent_reads: 32
concurrent_writes: 32
concurrent_counter_writes: 32
concurrent_materialized_view_writes: 32
# file_cache_size_in_mb: 512
# buffer_pool_use_heap_if_exhausted: true
# disk_optimization_strategy: ssd
# memtable_heap_space_in_mb: 2048
# memtable_offheap_space_in_mb: 2048
# memtable_cleanup_threshold: 0.11
memtable_allocation_type: heap_buffers
# repair_session_space_in_mb:
# commitlog_total_space_in_mb: 8192
#memtable_flush_writers: 2
# cdc_total_space_in_mb: 4096
# cdc_free_space_check_interval_ms: 250
index_summary_capacity_in_mb:
index_summary_resize_interval_in_minutes: 60
trickle_fsync: false
trickle_fsync_interval_in_kb: 10240
storage_port: 7000
ssl_storage_port: 7001
listen_address: {{ansible_default_ipv4.address}}
# listen_interface_prefer_ipv6: false
# broadcast_address: 1.2.3.4
# listen_on_broadcast_address: false
# internode_authenticator: org.apache.cassandra.auth.AllowAllInternodeAuthenticator
start_native_transport: true
native_transport_port: 9042
# native_transport_port_ssl: 9142
# native_transport_max_threads: 128
# native_transport_max_frame_size_in_mb: 256
# native_transport_frame_block_size_in_kb: 32
# native_transport_max_concurrent_connections: -1
# native_transport_max_concurrent_connections_per_ip: -1
# native_transport_allow_older_protocols: true
# native_transport_idle_timeout_in_ms: 60000
rpc_address: {{ansible_default_ipv4.address}}
# rpc_interface: eth1
# rpc_interface_prefer_ipv6: false
# broadcast_rpc_address: 1.2.3.4
rpc_keepalive: true
# internode_send_buff_size_in_bytes:
# internode_recv_buff_size_in_bytes:
incremental_backups: false
snapshot_before_compaction: false
auto_snapshot: true
column_index_size_in_kb: 64
column_index_cache_size_in_kb: 2
# concurrent_compactors: 1
# concurrent_validations: 0
#concurrent_materialized_view_builders: 1
compaction_throughput_mb_per_sec: 16
sstable_preemptive_open_interval_in_mb: 50
# stream_entire_sstables: true
# stream_throughput_outbound_megabits_per_sec: 200
# inter_dc_stream_throughput_outbound_megabits_per_sec: 200
read_request_timeout_in_ms: 5000
range_request_timeout_in_ms: 10000
write_request_timeout_in_ms: 2000
counter_write_request_timeout_in_ms: 5000
cas_contention_timeout_in_ms: 1000
truncate_request_timeout_in_ms: 60000
request_timeout_in_ms: 10000

# internode_tcp_connect_timeout_in_ms = 2000
# internode_tcp_user_timeout_in_ms = 30000
# internode_application_timeout_in_ms = 30000
#
# internode_application_send_queue_capacity_in_bytes: 4194304                       #4MiB
# internode_application_send_queue_reserve_endpoint_capacity_in_bytes: 134217728    #128MiB
# internode_application_send_queue_reserve_global_capacity_in_bytes: 536870912      #512MiB
# internode_application_receive_queue_capacity_in_bytes: 4194304                    #4MiB
# internode_application_receive_queue_reserve_endpoint_capacity_in_bytes: 134217728 #128MiB
# internode_application_receive_queue_reserve_global_capacity_in_bytes: 536870912   #512MiB

slow_query_log_timeout_in_ms: 500
#cross_node_timeout: true
# streaming_keep_alive_period_in_secs: 300
# streaming_connections_per_host: 1
# phi_convict_threshold: 8
endpoint_snitch: GossipingPropertyFileSnitch
dynamic_snitch_update_interval_in_ms: 100 
dynamic_snitch_reset_interval_in_ms: 600000
dynamic_snitch_badness_threshold: 0.1
server_encryption_options:
    #enabled: false
    #optional: false
   # enable_legacy_ssl_storage_port: false
    internode_encryption: none
    keystore: conf/.keystore
    keystore_password: cassandra
    truststore: conf/.truststore
    truststore_password: cassandra
    # protocol: TLS
    # store_type: JKS
    # cipher_suites: [TLS_RSA_WITH_AES_128_CBC_SHA,TLS_RSA_WITH_AES_256_CBC_SHA,TLS_DHE_RSA_WITH_AES_128_CBC_SHA,TLS_DHE_RSA_WITH_AES_256_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA]
    # require_client_auth: false
    # require_endpoint_verification: false

client_encryption_options:
    #enabled: false
    #optional: false
    keystore: conf/.keystore
    keystore_password: cassandra
    # require_client_auth: false
    # truststore: conf/.truststore
    # truststore_password: cassandra
    # protocol: TLS
    # store_type: JKS
    # cipher_suites: [TLS_RSA_WITH_AES_128_CBC_SHA,TLS_RSA_WITH_AES_256_CBC_SHA,TLS_DHE_RSA_WITH_AES_128_CBC_SHA,TLS_DHE_RSA_WITH_AES_256_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA]

internode_compression: dc
inter_dc_tcp_nodelay: false
tracetype_query_ttl: 86400
tracetype_repair_ttl: 604800
enable_user_defined_functions: false
enable_scripted_user_defined_functions: false
windows_timer_interval: 1
transparent_data_encryption_options:
    #enabled: false
    chunk_length_kb: 64
    cipher: AES/CBC/PKCS5Padding
    key_alias: testing:1
    # iv_length: 16
    key_provider:
      - class_name: org.apache.cassandra.security.JKSKeyProvider
        parameters:
          - keystore: conf/.keystore
            keystore_password: cassandra
            store_type: JCEKS
            key_password: cassandra

tombstone_warn_threshold: 1000
tombstone_failure_threshold: 100000
batch_size_warn_threshold_in_kb: 5
batch_size_fail_threshold_in_kb: 50
unlogged_batch_across_partitions_warn_threshold: 10
compaction_large_partition_warning_threshold_mb: 100
# gc_log_threshold_in_ms: 200
# gc_warn_threshold_in_ms: 1000
# max_value_size_in_mb: 256
back_pressure_enabled: false
back_pressure_strategy:
    - class_name: org.apache.cassandra.net.RateBasedBackPressure
      parameters:
        - high_ratio: 0.90
          factor: 5
          flow: FAST

# otc_coalescing_strategy: DISABLED
# otc_coalescing_window_us: 200
# otc_coalescing_enough_coalesced_messages: 8
# otc_backlog_expiration_interval_ms: 200
# ideal_consistency_level: EACH_QUORUM
# max_concurrent_automatic_sstable_upgrades: 1
#audit_logging_options:
   # enabled: false
   # logger: BinAuditLogger
    # audit_logs_dir:
    # included_keyspaces:
    # excluded_keyspaces: system, system_schema, system_virtual_schema
    # included_categories:
    # excluded_categories:
    # included_users:
    # excluded_users:
    # roll_cycle: HOURLY
    # block: true
    # max_queue_weight: 268435456 # 256 MiB
    # max_log_size: 17179869184 # 16 GiB
    # archive_command:
    # max_archive_retries: 10

#full_query_logging_options:
    # log_dir:
    # roll_cycle: HOURLY
    # block: true
    # max_queue_weight: 268435456 # 256 MiB
    # max_log_size: 17179869184 # 16 GiB
    # archive_command:
    # max_archive_retries: 10

# corrupted_tombstone_strategy: disabled
#diagnostic_events_enabled: false
#native_transport_flush_in_batches_legacy: false
#repaired_data_tracking_for_range_reads_enabled: false
#repaired_data_tracking_for_partition_reads_enabled: false
#report_unconfirmed_repaired_data_mismatches: false
enable_materialized_views: false
enable_sasi_indexes: false
#enable_transient_replication: false
